/* ABOUT STYLES START */
.grid-about{
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, min-content);
    margin: 55px 0px;
    padding: 150px 10%;
    justify-items: center;
    align-items: flex-start;
}

/* MEDIA QUERIES START */
@media screen and (min-width: 768px) and (max-width: 992px){
    .grid-about{
        padding: 80px 5%;
    }
}
@media screen and (max-width: 768px){
    .grid-about{
        padding: 80px 10px;
    }
}