/* GENERAL STYLES START*/
*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
:root{
  scroll-behavior: smooth;
  --headerTextColor: #fff;
  --textColor: rgb(43, 43, 51);
  --subtextColor: rgb(79, 78, 94);
  --detailColor: rgb(77, 125, 210);
}
:focus{
  outline: none;
}
body{
  background-color:rgb(242, 246, 253);
  font-family: 'Saira Condensed', sans-serif;
  color: var(--textColor);
  letter-spacing: 1.5px;
  overflow-x: hidden;
}
.subtitle{
  grid-column: 1/5;
  justify-self: center;
  position:relative;
  font-size: 6rem;
}
.subtitle::before{
  position: absolute;
  content: "";
  width: 75%;
  height: 0.7rem;
  background-color: var(--textColor);
  border-radius: 2px;
}
.card{
  margin-top: 4rem;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 20px rgba(144, 144, 145, 0.336);
}
.card__title{
  position: relative;
  margin: 30px 0px;
  font-size: 2rem;
}
.card__title::after{
  position: absolute;
  content: "";
  top: 100%;
  left: 25%;
  width: 75%;
  height: 0.3rem;
  background-color: var(--textColor);
  border-radius: 1px;
}

/* GENERAL MEDIA QUERIES START*/
@media screen and (min-width: 768px) and (max-width: 992px){
  :root{
      font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  :root{
      font-size: 14px;
  }
  .subtitle{
    font-size: 5rem;
}
}