/* SKILL ITEMS STYLES START */
.flex-skillitem{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}
.flex-skillitem__img {
    position: relative;
    width: 4rem;
    transition: transform ease-in-out 1s;
}
.flex-skillitem__p{
    position: absolute;
    text-align: center;
    font-size: 0px;
    transition: transform ease-in-out 1s, font-size ease-in-out 1s;
}

/* Skills Animations */
.flex-skillitem:hover p{
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    font-size: 1.5rem;
    cursor: pointer;
}
.flex-skillitem:hover img{
    transform: rotate(360deg) scale(0,0);
    -webkit-transform: rotate(360deg) scale(0,0);
    cursor: pointer;
}
/* Skills Animations END */